<div class="bg-light fullheight">
  <div class="container">
    <div class="d-flex w-100 justify-content-between pt-3">
      <%= link_to material_icon.navigate_before.md_36, slides_websocket_protocol_path %>
      <%= link_to material_icon.exit_to_app.md_36, root_path %>
      <%= link_to material_icon.navigate_next.md_36, slides_create_channel_path %>
    </div>
    <div class="row cover py-3 py-sm-5">
      <div class="col-sm pb-2">
        <div class="card bg-blue h-100">
          <div class="my-auto p-3">
            <span class="badge badge-light">4 de 9</span>
            <h2><small>DEMO AND LIVE CODING</small></h2>
            <p>Adding real-time feature to an existing Rails 5.2 app</p>
            <br />
            <p>Our domain model is simple: we have <strong>users</strong>, <strong>chat rooms</strong> and </strong>messages</strong>. </p>
          </div>
        </div>
      </div>

      <div class="col-sm text-center align-self-center">
        <%= image_tag("slides/websockets_protocol.png") %>
      </div>
    </div>
  </div>
</div>
