<div class="bg-light fullheight">
  <div class="container">
    <div class="d-flex w-100 justify-content-between pt-3">
      <%= link_to material_icon.navigate_before.md_36, slides_rails_details_path %>
      <%= link_to material_icon.exit_to_app.md_36, root_path %>
      <%= link_to material_icon.navigate_next.md_36, root_path %>
    </div>
    <div class="row cover py-3 py-sm-5">

      <div class="col-sm pb-2">
        <div class="card bg-blue h-100">
          <div class="my-auto p-3">
            <span class="badge badge-light">9 de 9</span>
            <h2><small>More...</small></h2>
            <ul>
              <li>Polling</li>
              <li>AnyCable</li>
              <li>Integrating with Vuejs/Stimulus/React</li>
              <li>Questions</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-sm text-center align-self-center">
        <h1>¡Gracias!</h1>
        <%= material_icon.question_answer.md_48 %>
      </div>
    </div>
  </div>
</div>
