<% unless @hide_footer %>
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Implementing WebSockets in Rails 5 with Action Cable.</p>
      <p><a href="https://github.com/ortegacmanuel">source code</a></p>
    </div>
  </footer>
<% end %>
